<h1>Dictionary</h1
  <p>Current words in our <em>Dictionary:</em></p>



  <p>Add new words to our Dictionary:</p>

  <form action="/results" method="post">
    <div class="form-group">
      <label for="word">Add Word Here:</label>
      <input id="word" name="word" class="form-control" type="text">
  </div>
    <button type="submit">Add to Dictionary</button>
  </form>
